body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav a {
  background-color: rgb(60, 0, 128);
  color: white;
  font-size: 20px;
  padding: 5px;
  font-family: "Roboto";
  border-radius: 10px;
}

header h1,
h2 {
  font-family: "Roboto";
  margin: 20px 0;
  font-size: 50px;
}

.intro img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding: 40px;
}

.chapters {
  display: flex;
  flex-wrap: wrap;
}

.chapter {
  flex-basis: 150px;
  flex-grow: 1;
}

.chapter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 14px;
  font-family: "Roboto";
  padding: 40px;
  line-height: 1.4;
}

footer {
  background-color: rgb(110, 22, 199);
  color: rgb(185, 165, 226);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button {
  height: 50px;
  width: 100px;
}

@media (max-width: 800px) and (min-width: 500px) {
  header h1,
  h2 {
    font-size: 70px;
    color: rgb(38, 20, 174);
  }
  header nav a {
    font-size: 30px;
    background-color: cornflowerblue;
  }
  .intro img {
    height: 40vh;
    padding: 50px;
  }
  p {
    font-size: 20px;
    padding: 60px;
    line-height: 2.8;
  }
  .chapter {
    flex-basis: 100px;
  }
  .chapter img {
    width: 20vw;
    height: 20vh;
  }
  .footer {
    height: 10vh;
  }
  button {
    width: 150px;
    height: 75px;
  }
}
